{% extends 'admin/base.html.twig' %}

{% block title %}Édition d'un article{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Éditer {{ post.getName() }}</h1>

        {% if success is defined %}
            {{ success|raw }}
        {% endif %}

        {% if errors is defined %}
            {{ errors|raw }}
        {% endif %}

        {% include('admin/post/_form.html.twig') %}
    </div>
{% endblock %}