<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.0-rc.2/dist/css/tom-select.css" rel="stylesheet">
    <title>{% block title %}Admin{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="/" class="navbar-brand ">Mon site</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if current_menu == 'admin_home' %}active{% endif %}" aria-current="page" href="/admin">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu == 'admin_post' %}active{% endif %}" aria-current="page" href="/admin/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current_menu == 'admin_category' %}active{% endif %}" aria-current="page" href="/admin/categories">Catégories</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav">
            <form action="/logout" method="post">
                <button class="nav-link" aria-current="page" style="background: transparent; border: none; color: white" >Déconnexion</button>
            </form>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.0-rc.2/dist/js/tom-select.complete.min.js"></script>
<script>
    new TomSelect(".select",{
        create: true,
        sortField: {
            field: "text",
            direction: "asc"
        },
        plugins: {
            remove_button:{
                title:'Supprimer',
            }
        }
    });
</script>
{% block javascripts %}{% endblock %}
{{ include('layout/footer.html.twig') }}
</body>
</html>