{% extends 'base.html.twig' %}

{% block title %}Article {{ post.getName() }}{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="card-title">{{ post.getName() }}</h1>
        <p class="text-muted">{{ post.getCreatedAt()|date('d F Y') }}</p>

        <p>{{ post.getContent()|raw }}</p>
    </div>
{% endblock %}